* {
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    background: no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #aaaaaa;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
}

.top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

a {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 1px 1px 2px #474747;
    text-decoration: none;
    align-self: flex-start;
}

.inner-crypto {
    display: flex;
    align-items: center;
    column-gap: 5px;
    font-size: 18px;
    margin: 10px;
}

.inner-crypto p {
    margin: 0;
}

.current-time {
    font-size: 3rem;
    margin: 0;
}

